<h1 class="tableLabel">Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Repository</th>
            <th scope="col">Coverage Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projectList">
            <td>{{project.name}}</td>
            <td><a href="{{project.repoLink}}" target="_blank">Repo Link</a></td>
            <td>
                <button class="btn btn-primary" (click)="getCoverageDetails(project.coverageFilePath)">Coverage Detail</button>
            </td>
        </tr>
    </tbody>
</table>

<pre *ngIf="coverageResult$ | async as coverageResult">{{coverageResult | json }}</pre>
